.col-lg-2{
    background-color: #FF6600;
    height:100vh;
}
.col-lg-10{
    height:100vh;
}
.first{
    padding-top: 35px;
}
.logo{
    height:37px;
    width: 45px;
    /* background-color: #0b809b; */
    font-weight: bold;
    font-size: large;
    border-radius: 9px;
    color:white;
    margin-right:11px;
}
.heading{
    color:white;
    font-size:20px;
}
.border{
    background-color:#0b809b;
    margin-top:8px;
    width:180px;
}
.list{
    color:white;
    font-size:24px;
}
.menu{
    
    font-size: 15px;
    color:white;
    padding-left: 9px;
}
.list li:hover{
    color:red !important;
    background-color:#0b809b;
    border-radius: 50px;
}
.graph{
    height:50vh;
    background-color: lightyellow;
}
.table{
    height:50vh;
    overflow: scroll;
    width:100%;
}
table{
    width:100%;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}

